{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'patients/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">CDMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'view-doctor' %}">Doctors</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'add-patient' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patients
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'add-patient' %}">Add Patients</a>
                <a class="dropdown-item" href="{% url 'view-patient' %}">View Patients</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'view-wards' %}">Wards</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'view-medicines' %}">Medicines</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Patients Admitted</h1>
          <p class="lead">All the patients inflicted with XYZ disease</p>
        </div>
    </div>
    <div class="container">
        {% for Patient in Patients %}
        <div class="card">
            <div class="card-header">
                {{ Patient.first_name }} {{Patient.last_name}}
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ Patient.gender }}</h5>
            <p class="card-text"><img src="https://img.icons8.com/material/24/000000/heart-health--v1.png"/>    Progress Level : {{ Patient.p_level }}</p>
            <p class="card-text"><img src="https://img.icons8.com/ios-glyphs/30/000000/hospital-room--v1.png"/> Ward number : {{ Patient.w_id }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
</body>
</html>


